@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to bottom,#080B12,#0D1420);
    font-family: 'Manrope', sans-serif;
    margin: 0;
}

header {
    background-color: #0D1420;
    color: #F5F7FA;
    text-align: left;
    padding: 0px 0;
}

p.subtitulo {
    color: #F5F7FA;
    font-size: 1em;
    margin-top: -10px;
    padding: 10px;
}

nav > h1 {
    font-size: 2em;
    margin: 8px;
    padding: 10px 0;
}

nav {
    border-radius: 5px 5px 0 0;
    background-color: #0D1420;
    color: #F5F7FA;
    font-size: 0.4em;   
    padding: 8px;
}

nav a {
    color: #F5F7FA;
    text-decoration: none;
    padding: 8px 0;
    display: inline-block;
    font-size: 2.2em;
}

nav a:hover {
    color: #839ce1;
    background-color: #162c3b;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 8px 0;
}

nav ul {
    list-style-type: none;
    margin: 10px 10px 10px 0;
    padding: 10px;
    display: flex;
    justify-content: right;
    gap: 20px;
}

h1 {
    color: #F5F7FA;
    background-color: #0D1420;
    font-family: 'Manrope', sans-serif;
    font-size: 3em;
    margin: 20px 8px 10px 8px;
}

p.apresentacao {
    color: #F5F7FA;
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    margin: 10px 8px;
}

.foto {
     display: block;
    margin: 0 0 0 1200px;
    max-width: 180px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 0px;
    box-sizing: border-box;
}

h2 {
    color: #F5F7FA;
    font-family: 'Manrope', sans-serif;
    margin-left: 15px;
    padding-left: 550px;
    padding-bottom: 50px;
    font-size: 3em;
}

h2 a {
    text-decoration: none;
    color: #F5F7FA;
}

p.sobre {
  color: #F5F7FA;
  min-height: 300px;
  max-width: 800px;
  padding: 0 10px;
  margin: auto;
  font-size: 1.5em;
}

h1.projetos {
    padding: 50px 580px 50px;
}

div {
    display: block;
    border: 2px solid rgba(0, 0, 0, 0.101);
    border-radius: 10px;
    background-color: #839ce1;
    max-width: 850px;
    max-height: 350px;
    margin: 20px auto;
    
}

div:hover {
    background-color: #080b121e;
    zoom: 1.03;
    transition: 0.6s;
    p {
        color: #f5f6f8;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}

div.projeto1 {
    margin: 0 auto 30px auto;
    padding: 50px;
}

div.projeto1 h2 {
    margin: 10px auto;
    font-size: 2em;
    display: inline-block;
    margin: 0 auto;
    padding:0px 0px 10px 220px;
}


div.projeto1 p {
    padding: 10px 0px 10px 220px;
    font-size: 1em;
    display: block;
    margin: 0 auto;
}

div.projeto2 {
    margin: 0 auto 30px auto;
    padding: 50px;
}

div.projeto2 h2 {
    margin:  auto;
    font-size: 2em;
    display: inline-block;
    margin: 0 auto;
    padding:10px 0px 10px 220px;
}

div.projeto2 p {
    padding: 10px 0px 10px 220px;
    font-size: 1em;
    display: block;
    margin: 0 auto;
}

div.projeto3 {
   margin: 0 auto 30px auto;
    padding: 50px;
}

div.projeto3 h2 {
    margin:  auto;
    font-size: 2em;
    display: inline-block;
    margin: 0 auto;
    padding:10px 0px 10px 220px;
}

div.projeto3 p {
    padding: 10px 0px 10px 220px;
    font-size: 1em;
    display: block;
    margin: 0 auto;
}

footer {
    color: #F5F7FA;
    background-color: #132735;
    padding: 10px 10px 10px 580px;
}
